/AbstractItem.class
/ItemPoint.class
/Inventory.class
/Widget.class
/BlockedSlot.class
/Sword.class
/Fangs.class
/Jaw.class
/Claws.class
/Fire.class
/Flame.class
/Hex.class
/Proboscis.class
/ObsidianShard.class
/OrbOfFlight.class
